@import '_variables.scss';

.landing-wrapper{
  width:100%;
  height: 60vh;
  min-height:390px;
  background: $color_soft_black;
}

#left_side_landing_wrapper{
  width:40%;
  height: 100%;
  float:left;
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(11, 10, 14) 0%, rgb(17,17,17) 65%);
  animation: bg-pan-left 8s both;
 }

 @keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 
#right_side_landing_wrapper{ 
  z-index:1;
  width: 60%; 
  height: 100%;
  float:right;
  background: linear-gradient(90deg, rgb(17,17,17) 10%, rgb(18, 16, 22) 90%, rgba(18, 16, 22,1) 0%);
 }

 .double-arrows-down{
  position: relative;
  height: 45px;
  width: 55px;
  bottom: 85px;
}

.double-arrows-down:hover{
  filter: invert(43%) sepia(79%) saturate(4055%) hue-rotate(360deg) brightness(81%) contrast(100%);
}

.double-arrows-wrapper{
  width:100%;
  height:100vh;
  text-align: center;
}
 
.line-1{
  position: relative;
  left: 10%;
  top: 40%;
  z-index: 2;
  color: $color_white;
  border-right: 4px solid transparent;
  font-size: 5vh;
  white-space: nowrap;
  overflow: hidden;
  height: 7.5vh;
  font-weight: 650;
}

.line-2{
  @extend .line-1;
  margin-top: -25px;
  font-weight: 325;
  color:rgba(255, 94, 0, 0.719);
 }
 
.animation-typewriter{
  animation: typewriter 3s steps(30) 1s 1 normal both,
             blinkTextCursor 600ms steps(30) 7 normal;
 }
 
@keyframes typewriter{
  from{width: 0;}
  to{width: 8.7em;}
}
 
@keyframes blinkTextCursor{
  from{border-right-color: transparent;}
  to{border-right-color: $color_white;}
}
 
.animation-typewriter_second{
  animation: typewriter_second 3.5s steps(40) 4s 1 normal both,
             blinkTextCursor_second 600ms steps(40) 4s infinite normal;
}
 
@keyframes typewriter_second{
  from{width: 0;}
  to{width: 14.3em;}
}
  
@keyframes blinkTextCursor_second{
  from{border-right-color: transparent;}
  to{border-right-color: $color_white;}
}

@media (max-width: 992px){ 
  .line-1{
    font-size: 6vw;
    height: 9.5vw;
  }

}